<mat-toolbar color="primary" style="justify-content: space-between">
  <div class="nav-left" style="display: flex">
    <button mat-icon-button class="material-icons" routerLink="/home">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <h1 style="margin-top: 5px">{{ ["PersonalCredentials", "personalCredentials"] | translate}}</h1>
  </div>
  <div class="nav-right" style="margin-top: 20px">
    <mat-form-field>
      <mat-label>Language</mat-label>
      <mat-select [(ngModel)]="translateService.selectedLanguage" name="lang">
        <mat-option value="En" (click)="translateService.use('en')"> En </mat-option>
        <mat-option value="Sr" (click)="translateService.use('sr')">Sr</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-toolbar>

<div class="main">
  <form [formGroup]="angForm" novalidate (ngSubmit)="onSubmit()" fxLayout="column" class="form">
    <div class="credentials-div">
      <mat-card class="mat-card-Credentilas">
        <!-- <mat-form-field class="fromFiledMyClass">
        <input matInput [(ngModel)]=client.Name placeholder= "{{ ['PersonalCredentials', 'Name'] | translate }} " name="Name" id="Name" formControlName="name"><br>
        </mat-form-field> -->

      <!-- (modelChange)="setClientName($event)" -->
      <!--<div *ngIf="angForm.get('name').value != true">
          <mat-form-field appearance="outline"> -->
        <!-- <app-input-keyboard class="input" placeholder= "{{ ['PersonalCredentials', 'Name'] | translate }} " formControlName="name" name="Name" id="name" (modelChange)="setClientName($event)"> </app-input-keyboard> -->
        <!-- <mat-error *ngIf="name.invalid"></mat-error> -->
          <!-- </mat-form-field> -->
      <!-- </div> -->
       <!-- <app-input-keyboard class="input" placeholder= "{{ ['PersonalCredentials', 'Last Name'] | translate }} " formControlName="lastName" name="LastName" id="lastName" (modelChange)="setClientLastName($event)"> </app-input-keyboard>

        <app-input-keyboard class="input" placeholder= "{{ ['PersonalCredentials', 'Mobile'] | translate }}" name="Mobile" id="mobile" formControlName="mobile" (modelChange)="setClientMobile($event)"> </app-input-keyboard>

        <app-input-keyboard class="input" placeholder= "{{ ['PersonalCredentials', 'Email'] | translate }} " formControlName="email" name="Email" id="Email" (modelChange)="setClientEmail($event)"> </app-input-keyboard>-->


        <mat-form-field class="fromFiledMyClass">
          <input [(ngModel)]="client.Name" matInput placeholder="{{ ['PersonalCredentials', 'Name'] | translate }} "
            formControlName="name"><br>
        </mat-form-field>
         <mat-form-field class="fromFiledMyClass">
          <input [(ngModel)]="client.LastName" matInput placeholder="{{ ['PersonalCredentials', 'Last Name'] | translate }} " name="LastName" id="LastName"
                 formControlName="lastName"><br>
        </mat-form-field> 


        <mat-form-field class="fromFiledMyClass">
          <input [(ngModel)]="client.Mobile" matInput placeholder="{{ ['PersonalCredentials', 'Mobile'] | translate }}" name="Mobile" id="Mobile"
                 formControlName="mobile"><br>
        </mat-form-field>

        <mat-form-field class="fromFiledMyClass">
          <input [(ngModel)]="client.Email" matInput placeholder="{{ ['PersonalCredentials', 'Email'] | translate }}" name="Email" id="Email"
                 formControlName="email"><br>
        </mat-form-field>

        <mat-form-field class="fromFiledMyClass">
          <mat-label>{{["PersonalCredentials" , "Select position"] | translate}}</mat-label>
          <mat-select [(value)]="client.PositionId" name="position" formControlName="positionId">
            <mat-option *ngFor="let position of positions" [value]="position.id">
              {{position.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="buttonNext">
          <!-- <button mat-button [disabled]="!angForm.valid"> -->
          <button mat-button type="submit" [disabled]="!angForm.valid">
            <mat-icon>navigate_next</mat-icon>
          </button>
        </div>
      </mat-card>
    </div>
  </form>
</div>
