/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.home-flex{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-card{
  display: flex!important;
  flex-direction: column;
  box-shadow: 1px 5px 15px #888!important;
  padding: 1% 3% 3% 2%!important;
}
.mat-toolbar.mat-primary{
  background: #f9f9f9;
  color: #202020
}
.buttonColor{
  color: white;
  background-color: #ff9700;
}

.mat-form-field-underline{
  background-color:#ff9700 !important;
}

.mat-list .mat-list-item{
  height:initial!important;
}

.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color: #ff9800;
}
.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
  background-color: #ff9800;
}
.mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label, .mat-accent .mat-slider-track-fill {
  background-color: #ff9800;
}

.mat-list-base .mat-list-item.mat-multi-line .mat-list-item-content, .mat-list-base .mat-list-option.mat-multi-line .mat-list-item-content {
  justify-content: space-between !important;
}

.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content{
  justify-content: space-between !important;
}

.footer{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  margin: 0 auto;
  bottom: 0;
  width: 100%;
  height: 40px;
  z-index: 999;
  position:fixed;
  flex-shrink: 0;
}
.mat-form-field-appearance-outline .mat-form-field-outline{
  color: #ff9800;
}
.mat-radio-label{
  margin-left: 10px;
}
.mat-form-field {
  width: 60%;
}

.mat-keyboard .mat-raised-button {
  font-size: 13px;
  line-height: 16px;
  padding: 0 8px;
}
